.man {
	height: 800px;
}
.manContent {
	justify-content: space-around;
	display: flex;
	align-items: center;
	z-index: 10;
}
.textHuman {
	margin-top: 15%;
}
.textHuman h1 {
	font-size: 50px;
}
.textHuman2 h1 {
	width: 60%;
}
.manPicture {
	width: 900px;
}
.workingMan {
	display: flex;
	align-items: center;
}
.explenationText {
	height: 100%;
}
.explenationText h1,
.explenationText2 h1 {
	font-size: 70px;
	margin: 150px;
	text-align: center;
}
