.man {
	height: 800px;
}
.manContent {
	justify-content: space-around;
	display: flex;
	align-items: center;
	z-index: 10;
}
.textHuman {
	margin-top: 15%;
}
.textHuman h1 {
	font-size: 50px;
}
.textHuman2 h1 {
	width: 60%;
}
.manPicture {
	width: 900px;
}
.workingMan {
	display: flex;
	align-items: center;
}
.explenationText {
	height: 100%;
}
.explenationText h1,
.explenationText2 h1 {
	font-size: 70px;
	margin: 150px;
	text-align: center;
}
.brain {
	width: 50%;
	height: 50%;
	margin-top: 30px;
}
.explenationText3 {
	color: white;
	width: 40%;
}
.brainContent {
	display: flex;
	padding-top: 20%;
}
.EndText {
	color: white;
	width: auto;
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
	align-items: center;
}
.EndText h1 {
	font-weight: 100;
}
.chartContainer canvas {
	width: 100%; /* Chart past zich aan containerbreedte aan */
	max-width: 600px; /* Max breedte om de chart niet te groot te maken */
	height: auto; /* Proportionele hoogte */
}

.textContainer {
	max-width: 40%; /* Maximaal 50% van de containerbreedte */
}

.chartContainer {
	flex: 1; /* ChartContainer neemt resterende ruimte */
	display: flex; /* Voor centreren van het chart binnen de container */
	justify-content: center; /* Horizontaal centreren */
	align-items: center; /* Verticaal centreren */
	border-radius: 10px; /* Ronde hoeken */
	padding: 20px; /* Padding rond het chart */
	transition: background-color 0.3s ease; /* Soepele overgang van kleuren */
}

.chartContainer canvas {
	max-width: 100%; /* Chart schaalt mee met de breedte van de container */
	height: auto; /* Hoogte past zich proportioneel aan */
}

.explenationText3 li {
	list-style-type: none;
	margin-top: 20px;
	font-weight: 200;
}
